@page
@model LTHDT_2023_12_WEB.Pages.MH_DanhSach_SanPhamModel
@using LTHDT_2023_12_Entities
@{
}


<form method="post">
    <label for="fname">Từ khóa:</label><br />
    <input type="text" id="fname" name="tukhoa" value=""/>
    <input type="submit" value="Tìm kiếm"/>
</form>

<div>
    <a href="MH_Them_SanPham">Thêm</a>
</div>

<div>
    <table>
        <tr>
            <th>Ma san pham</th>
            <th>Ten</th>
            <th>Gia</th>
        </tr>
        @foreach (SanPham sp in Model.DanhSachSanPham)
        {
            <tr>
                <td>@sp.MaSanPham</td>
                <td>@sp.TenSanPham</td>
            </tr>
        }
    </table>
</div>