@page
@model LTHDT_2023_12_WEB.Pages.MH_Them_SanPhamModel
@{
}


<form method="post">
    <label for="masanpham">Mã sản phẩm</label><br />
    <input type="text" id="masanpham" name="masanpham" value="" />
    <label for="tensanpham">Tên sản phẩm</label><br />
    <input type="text" id="tensanpham" name="masanpham" value="" />
    <label for="giaban">Giá</label><br />
    <input type="text" id="giaban" name="giaban" value="" />
    <input type="submit" value="Thêm sản phẩm" />
</form>
